# DATO
DATOCMS_API_TOKEN=
FEEDBACK_API_TOKEN=
FEEDBACK_SCHEMA_ID=
DATOCMS_ENVIRONMENT=main
DATOCMS_INCLUDE_DRAFTS=true

# REDIS
REDIS_URL=

# VERCEL/NEXT
NEXT_PUBLIC_DOMAIN=http://localhost:3000
DRAFT_SECRET=
WEBHOOK_SECRET=
SESSION_SECRET=

# ALGOLIA
NEXT_PUBLIC_ALGOLIA_APP_ID=
NEXT_PUBLIC_ALGOLIA_INDEX_NAME=
NEXT_PUBLIC_ALGOLIA_SEARCH_API_KEY=
ALGOLIA_WRITE_API_KEY=

# SALESFORCE
SF_URL=
SF_USERNAME=
SF_PASSWORD=

SF_WEBHOOK_URL=
SF_WEBHOOK_CLIENT_ID=
SF_WEBHOOK_CLIENT_SECRET=
SF_WEBHOOK_USERNAME=
SF_WEBHOOK_PASSWORD=

# BETTERSTACK
BETTERSTACK_ENABLE=
BETTERSTACK_USER=
BETTERSTACK_URL=
BETTERSTACK_TOKEN=

# MATOMO SCRIPT
NEXT_PUBLIC_MATOMO_SITE_ID=