// .wrapper {}
.custom-accordion-header {
  border: none !important;
  font-size: 32px !important;
  font-weight: 700 !important;
  line-height: 1.2 !important;
  padding-inline: 0 !important;
  margin-block: 16px !important;
  color: var(--color-text-secondary, #2f475e) !important;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;

  &:hover {
    text-decoration: underline !important;
    text-decoration-thickness: 1px !important;
    text-underline-offset: 4px !important;
  }

  &::before {
    color: #06c !important;
  }
}

.custom-accordion-body > div {
  padding-inline: 0;
  padding-top: 0;
  padding-bottom: 64px;
}
